flowmain.json
[{"id":"a94b15679589bd8b","type":"ui_text","z":"a2cc53840f4d9e59","group":"dcca08e0c6c4787e","order":17,"width":7,"height":1,"name":"","label":"{{msg.heute}}","format":"{{msg.morgen}}","layout":"row-spread","className":"","style":false,"font":"","fontSize":16,"color":"#000000","x":1030,"y":300,"wires":[]},{"id":"4185c631eea53935","type":"ui_chart","z":"a2cc53840f4d9e59","name":"","group":"dcca08e0c6c4787e","order":20,"width":9,"height":5,"label":"spotpreis heute","chartType":"bar","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":1000,"y":180,"wires":[[]]},{"id":"7b4fe4b1ba232fc3","type":"ui_chart","z":"a2cc53840f4d9e59","name":"","group":"dcca08e0c6c4787e","order":21,"width":9,"height":5,"label":"spotpreis morgen ","chartType":"bar","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":1010,"y":360,"wires":[[]]},{"id":"9bcb896957d426c5","type":"function","z":"a2cc53840f4d9e59","name":"make link 1","func":"var url1 = \"https://www.epexspot.com/en/market-data?data_mode=table&modality=Auction&sub_modality=DayAhead&market_area=CH&delivery_date=\";\nvar url2 = \"&auction=CH\"\nvar adddays = 0;\nvar d = new Date();\nd.setDate(d.getDate() + adddays);\nvar tag = d.getDate();  \ntag = tag > 9 ? \"\" + tag: \"0\" + tag;\nvar monat = d.getMonth() + 1;   \nmonat = monat > 9 ? \"\" + monat: \"0\" + monat;\nvar jahr = d.getFullYear();\n\nmsg.datum1 = tag + \".\" + monat + \".\" + jahr;\nmsg.datum2 = jahr + \"-\" + monat + \"-\" + tag;\nmsg.url = url1 + msg.datum2 + url2;\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":150,"y":240,"wires":[["0dd15c1c062495bc"]]},{"id":"4467fd1200f79eda","type":"inject","z":"a2cc53840f4d9e59","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"0 0-22 * * *","once":false,"onceDelay":0.1,"topic":"","payload":"true","payloadType":"bool","x":110,"y":180,"wires":[["9bcb896957d426c5"]]},{"id":"0dd15c1c062495bc","type":"http request","z":"a2cc53840f4d9e59","name":"","method":"GET","ret":"txt","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[],"x":330,"y":240,"wires":[["6c05574d4d1a59f5"]]},{"id":"40478d33e4a5a284","type":"function","z":"a2cc53840f4d9e59","name":"TagesWerte 1","func":"var ges = \"\";\nvar tg = 3;\nvar min = 1000;\nfor (var i = 1; i < 25; i++) {\n    if(Number(msg.payload[tg]) < min) min = Number(msg.payload[tg]);\n   tg +=4;\n}\nmin = (min / 10).toFixed(2);\nmsg.heute = msg.datum1 + \" min: \" + min;\nif (min == 100) msg.heute = msg.datum1 + \" - no data\";\nif (msg.gueltig == 0) msg.heute = msg.datum1 + \" - no data\";\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":860,"y":240,"wires":[["379c49bd03b2aa3f","0ed31fec4be169d4","b0d87ec236ec1295"]]},{"id":"9a46f31e3313b983","type":"html","z":"a2cc53840f4d9e59","name":"","property":"payload","outproperty":"payload","tag":"td","ret":"text","as":"single","x":690,"y":240,"wires":[["40478d33e4a5a284"]]},{"id":"6c05574d4d1a59f5","type":"function","z":"a2cc53840f4d9e59","name":"gültigCheck 1","func":"var stringin = msg.payload;\nvar pos1 = stringin.indexOf(\"delivery_date=\");\nvar datauslesen = stringin.substring(pos1 + 14, pos1 + 24);\n\nif (msg.datum2 == datauslesen) {\n    msg.gueltig = 1;\n} else  {\n     msg.gueltig = 0;\n}   \n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":520,"y":240,"wires":[["9a46f31e3313b983"]]},{"id":"379c49bd03b2aa3f","type":"function","z":"a2cc53840f4d9e59","name":"make link 2","func":"var url1 = \"https://www.epexspot.com/en/market-data?data_mode=table&modality=Auction&sub_modality=DayAhead&market_area=CH&delivery_date=\";\nvar url2 = \"&auction=CH\"\nvar adddays = 1;\nvar d = new Date();\nd.setDate(d.getDate() + adddays);\nvar tag = d.getDate();  \ntag = tag > 9 ? \"\" + tag: \"0\" + tag;\nvar monat = d.getMonth() + 1;   \nmonat = monat > 9 ? \"\" + monat: \"0\" + monat;\nvar jahr = d.getFullYear();\nmsg.datum1 = tag + \".\" + monat + \".\" + jahr; \nmsg.datum2 = jahr + \"-\" + monat + \"-\" + tag;\nmsg.url = url1 + msg.datum2 + url2;\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":150,"y":300,"wires":[["f01c353a4ed3f58f"]]},{"id":"f01c353a4ed3f58f","type":"http request","z":"a2cc53840f4d9e59","name":"","method":"GET","ret":"txt","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[],"x":330,"y":300,"wires":[["9ac049bf7aabcb47"]]},{"id":"e91de0952dd0b883","type":"function","z":"a2cc53840f4d9e59","name":"TagesWerte 2","func":"var ges = \"\";\nvar tg = 3;\nvar min = 1000;\nfor (var i = 1; i < 25; i++) {\n    if(Number(msg.payload[tg]) < min) min = Number(msg.payload[tg]);\n   tg +=4;\n}\nmin = (min / 10).toFixed(2);\nmsg.min2 = min;     \nmsg.morgen = msg.datum1 + \" min: \" + min;\nif (min == 100) msg.morgen = msg.datum1 + \" - no data\";\nif (msg.gueltig == 0) msg.morgen = msg.datum1 + \" - no data\";\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":860,"y":300,"wires":[["a94b15679589bd8b","633e692ba40ecbcc","69f2a53c68dcd880"]]},{"id":"27b3a8e09db69c6e","type":"html","z":"a2cc53840f4d9e59","name":"","property":"payload","outproperty":"payload","tag":"td","ret":"text","as":"single","x":690,"y":300,"wires":[["e91de0952dd0b883"]]},{"id":"9ac049bf7aabcb47","type":"function","z":"a2cc53840f4d9e59","name":"gültigCheck 2","func":"var stringin = msg.payload;\nvar pos1 = stringin.indexOf(\"delivery_date=\"); \nvar datauslesen = stringin.substring(pos1 + 14, pos1 + 24);\nif (msg.datum2 == datauslesen) {\n    msg.gueltig = 1;\n} else  {\n     msg.gueltig = 0;\n}   \nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":520,"y":300,"wires":[["27b3a8e09db69c6e"]]},{"id":"6d912812437f4fdf","type":"e-mail","z":"a2cc53840f4d9e59","server":"protector.sn-mail.li","port":"465","authtype":"BASIC","saslformat":false,"token":"oauth2Response.access_token","secure":true,"tls":true,"name":"","dname":"to mail","x":410,"y":360,"wires":[]},{"id":"633e692ba40ecbcc","type":"function","z":"a2cc53840f4d9e59","name":"eMail handling","func":"var tagnr = context.get('tagnr') || 0;\nvar d = new Date();\nvar tag = d.getDate();        \nif (tag != tagnr) {        \n   if (msg.min2 < 0  && msg.gueltig) {\n      context.set('tagnr', tag);\n      msg.payload = \"Strombörse am \" + msg.morgen;\n      msg.topic = \"Strombörse am: \" + msg.morgen;\n      return msg;\n   }\n}\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":200,"y":360,"wires":[["6d912812437f4fdf"]]},{"id":"0ed31fec4be169d4","type":"function","z":"a2cc53840f4d9e59","name":"chart 1 heute","func":"var m = {};\nconst tagnr = [];\nvar tg = 3;\nm.labels = [\"0\",\"1\", \"2\", \"3\", \"4\", \"5\", \"6\", \"7\", \"8\", \"9\", \"10\", \"11\", \"12\", \"13\", \"14\", \"15\", \"16\", \"17\", \"18\", \"19\", \"20\", \"21\", \"22\", \"23\"];\nm.series = ['Spotpreis'];\nfor (var i = 0; i < 24; i++) {\n   tagnr[i] = Number(msg.payload[tg]/10);\n   tg +=4;\n}\nm.data = [\n            [\n            tagnr[0],tagnr[1],tagnr[2],tagnr[3],tagnr[4],tagnr[5],tagnr[6],tagnr[7],tagnr[8],tagnr[9],tagnr[10],\n            tagnr[11],tagnr[12],tagnr[13],tagnr[14],tagnr[15],tagnr[16],tagnr[17],tagnr[18],tagnr[19],tagnr[20],\n            tagnr[21],tagnr[22],tagnr[23]\n            ]\n         ];\nreturn {payload:[m]};","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":820,"y":180,"wires":[["4185c631eea53935"]]},{"id":"69f2a53c68dcd880","type":"function","z":"a2cc53840f4d9e59","name":"chart 2 morgen","func":"if (msg.gueltig)  {\n   var m = {};\n   const tagnr = [];\n   var tg = 3;\n   m.labels = [\"0\",\"1\", \"2\", \"3\", \"4\", \"5\", \"6\", \"7\", \"8\", \"9\", \"10\", \"11\", \"12\", \"13\", \"14\", \"15\", \"16\", \"17\", \"18\", \"19\", \"20\", \"21\", \"22\", \"23\"];\n   m.series = ['Spotpreis'];\n   for (var i = 0; i < 24; i++) {\n      tagnr[i] = Number(msg.payload[tg]/10);\n      tg +=4;\n   }\n   m.data = [\n               [\n               tagnr[0],tagnr[1],tagnr[2],tagnr[3],tagnr[4],tagnr[5],tagnr[6],tagnr[7],tagnr[8],tagnr[9],tagnr[10],\n               tagnr[11],tagnr[12],tagnr[13],tagnr[14],tagnr[15],tagnr[16],tagnr[17],tagnr[18],tagnr[19],tagnr[20],\n               tagnr[21],tagnr[22],tagnr[23]\n               ]\n            ];\n   return {payload:[m]};\n} else {  \n   msg.payload = [];\n   return msg;\n}","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":820,"y":360,"wires":[["7b4fe4b1ba232fc3"]]},{"id":"b0d87ec236ec1295","type":"function","z":"a2cc53840f4d9e59","name":"aktueller wert","func":"var aktu;\nvar d = new Date();\nvar stunde = d.getHours();\nvar tg = 3;\nfor (var i = 0; i < 24; i++) {\n   if (stunde == i) {\n      msg.aktuell = Number(msg.payload[tg]/10).toFixed(3);\n      break;\n      \n   }\n   tg += 4;\n}\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":380,"y":180,"wires":[["5adb18be7f8f8002"]]},{"id":"5adb18be7f8f8002","type":"ui_text","z":"a2cc53840f4d9e59","group":"dcca08e0c6c4787e","order":16,"width":2,"height":1,"name":"aktuell","label":"","format":"{{msg.aktuell}}","layout":"col-center","className":"","style":false,"font":"","fontSize":16,"color":"#000000","x":530,"y":180,"wires":[]},{"id":"dcca08e0c6c4787e","type":"ui_group","name":"Haus Power","tab":"7a8c6cce4be7727c","order":2,"disp":false,"width":26,"collapse":false,"className":""},{"id":"7a8c6cce4be7727c","type":"ui_tab","name":"Haus Power","icon":"dashboard","order":1,"disabled":false,"hidden":false}]